.container {
  background-color: var(--color-pin-page);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* upper section */
.header_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  width: 100%;
  height: 50%;
  padding: 6rem 0rem 1rem 0rem;
}

.pin_point__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
  margin: 2rem 0;
}

.pin_point {
  background-color: var(--color-cool-gray);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  box-shadow: var(--shadow);
}

.header_section .icon {
  background-image: linear-gradient(
    to right top,
    var(--color-pigment-green),
    var(--color-kelly-green)
  );
  color: var(--color-seasalt-white);
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.header_section .forget_container {
  display: flex;
  justify-content: center;
  color: var(--color-cool-gray);
}

/* lower section */
.pin_section {
  background-color: var(--button-color-pin);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 50%;
  border-radius: 2rem 2rem 0px 0px;
  overflow: hidden;
  padding-bottom: 2rem;
}

.pin_section button {
  background-color: transparent;
  color: var(--color-pigment-green);
  font-size: 1.25rem;
  border: 0px solid transparent;
}

.pin_section button:hover {
  background-color: color-mix(
    in srgb,
    var(--color-eerie-black) 20%,
    transparent
  );
  /* opacity: 0.2; */
  transform: translateY(0px);
  box-shadow: none;
}
